
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* common style */

body {
    background-color: #f5f8ff;
}

body p {
     font-family: "Inter", sans-serif;
     font-size: 22px;
     color: rgba(0, 0, 0, 0.5);
}
body h1, h2, h3, h5 {
    font-family: "Noto Serif", serif;
}
body h4 {
    font-family: "Inter", sans-serif;
}

.flower-item-2 .lists {
     color: rgba(0, 0, 0, 0.5);
}


/* header section */
nav .menu {
    font-family: "Inter", sans-serif;
}

/* banner section */

.banner-content {
    max-width: 50%;
    padding-top: 60px;
}
.banner-content .banner-title {
     font-family: "Noto Serif", serif;
     margin-right: 50px;
     line-height: 75px;
}
.banner-title span {
    color: #E95A08;
}
.banner-subtitle {
    padding-right: 10px;
    padding-top: 20px;
}

.banner-img {
    max-width: 50%;
}

/* our plants */

.primary-btn {
    padding: 19px 80px;
}

/* flowers lover */

.flower-item-2 {
    margin: 38px 0px;
    max-width: 550px;
    position: relative;
}
.badge {
    width: 286px;
    height: 286px;
    position: absolute;
    right: 520px;
    top: -170px;
}

.flower-item-2 h3 {
  font-size: 50px;
  line-height: 60px;
}
.flower-subtitle {
    margin: 5px 20px;
     color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

.flower-subtitle li {
    /* margin: 25px 0px; */
    padding: 10px 10px;
}

/* Least Deal */

/* .colorful-bunch {
     background-image: url(../assets/news-letter-bg.png);
            width: 300px;
            background-repeat: no-repeat;
            background-size: 100%;
}

.deal-item {
    position: relative;
}
.latest-deal-descound {
    position: absolute;
    color: black;
    top: 200px;
}
 */

 /* colorful Bunch */
 #hero{
    height: 533px;
    background:  url('../assets/news-letter-bg.png') no-repeat center / cover;
    position: relative;
}

.hero-text-box{
    width: 830px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-text-box h1 {
    font-size: 50px;
}

.input-email {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 400px;
    border: none;
}
.email-btn {
    padding: 18px 50px;
    border: white;
}
.colorful-bunch-input-btn {
    justify-content: center;
}

/* Footer */
.footer-img {
    width: 135px;
    height: 80px;
    margin-bottom: 16px;
}
.footer-social-icon {
    width: 36px;
    height: 36px;
    
}
















/* Responsive section */ 
@media screen and (max-width: 576px) {
    /* navbar  */
      .sm-hide {
        display: none;
    }
    .navbar {
        margin-right: 13px;
        margin-left: 13px;
        align-items: center;
    }
    .navbar img {
        width: 63px;
        height: 38px;
    }

/* banner */

    .banner-content {
        max-width: 100%;
        padding: 16px;
    }
    .banner-img {
        max-width: 100%;
    }
  
    .banner {
        flex-direction: column-reverse;
        margin-top: 28px;
        
    }
    .banner-content .banner-title {
        font-size: 24px;
        line-height: 32px;
    }
    .banner-title {
        padding-top: 18px;
    }
    .banner-subtitle {
        font-size: 14px;
        padding-top: 13px;
    }

    /* our plants  */

    .our-plants {
        margin-top: 60px;
    }

    .our-plants-card {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 14px;
    }   
    .primary-btn {
    padding: 19px 30px;
}
.plant-titles {
    max-width: 330px;
    margin: auto;
}
.our-plant-title {
    font-size: 24px;
}
.our-plant-subtitle {
    font-size: 14px;
}

/* Our Flower  */
.badge {
    display: none;
}
.flower-levers-items {
    margin-top: 41px;
    padding: 16px;
}
.flower-item-2 h3 {
  font-size: 24px;
  margin: 0px;
}
.flower-subtitle {
    margin: 0px 20px;
    font-size: 14px;
}

 /* colorful Bunch */
 #hero{
    height: 321px;
}
.hero-text-box h1 {
    font-size: 20px;
}
.colorful-bunch-input-btn {
   padding: 30px 0px;
}
.input-email {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100px;
}
.email-btn {
    padding: 19px 12px ;
    border: white;
}
.hero-text-box {
    width: 100%;
}



}